<div class="bcrl_resizable-display">
    @* Cardinal Resize Handles *@
    <div class="bcrl_resize-handle bcrl_resize-handle-north bcrl_resize-handle-cardinal"
         style="@GetNorthResizeHandleStyleCss()"
         @onmousedown="() => SubscribeToDragEvent(DragEventHandlerNorthResizeHandleAsync)">
    </div>
    
    <div class="bcrl_resize-handle bcrl_resize-handle-east bcrl_resize-handle-cardinal"
         style="@GetEastResizeHandleStyleCss()"
         @onmousedown="() => SubscribeToDragEvent(DragEventHandlerEastResizeHandleAsync)">
    </div>
    
    <div class="bcrl_resize-handle bcrl_resize-handle-south bcrl_resize-handle-cardinal"
         style="@GetSouthResizeHandleStyleCss()"
         @onmousedown="() => SubscribeToDragEvent(DragEventHandlerSouthResizeHandleAsync)">
    </div>
    
    <div class="bcrl_resize-handle bcrl_resize-handle-west bcrl_resize-handle-cardinal"
         style="@GetWestResizeHandleStyleCss()"
         @onmousedown="() => SubscribeToDragEvent(DragEventHandlerWestResizeHandleAsync)">
    </div>
    
    @* Diagonal Resize Handles *@
    <div class="bcrl_resize-handle bcrl_resize-handle-north-east bcrl_resize-handle-diagonal"
         style="@GetNorthEastResizeHandleStyleCss()"
         @onmousedown="() => SubscribeToDragEvent(DragEventHandlerNorthEastResizeHandleAsync)">
    </div>
    
    <div class="bcrl_resize-handle bcrl_resize-handle-south-east bcrl_resize-handle-diagonal"
         style="@GetSouthEastResizeHandleStyleCss()"
         @onmousedown="() => SubscribeToDragEvent(DragEventHandlerSouthEastResizeHandleAsync)">
    </div>
    
    <div class="bcrl_resize-handle bcrl_resize-handle-south-west bcrl_resize-handle-diagonal"
         style="@GetSouthWestResizeHandleStyleCss()"
         @onmousedown="() => SubscribeToDragEvent(DragEventHandlerSouthWestResizeHandleAsync)">
    </div>
    
    <div class="bcrl_resize-handle bcrl_resize-handle-north-west bcrl_resize-handle-diagonal"
         style="@GetNorthWestResizeHandleStyleCss()"
         @onmousedown="() => SubscribeToDragEvent(DragEventHandlerNorthWestResizeHandleAsync)">
    </div>
</div>